
* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: sans-serif;
}

.mainBox {
    text-align: center;
    margin:auto;
    display: inline-block;
    background-color: #bcbcbc;
    cursor: default;
    user-select: none;
    /*border: 2px solid blue;*/
}

.headerBox {
    line-height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: rgb(232, 232, 232);
    /*border: 1px solid red;*/
}

.controls > * {
    padding-right: 6px;
}

.resetButton {
    background-color: rgb(232, 232, 232);
    padding: 4px;
}

.resetButton:hover {
    background-color: green;
    padding: 4px;
}

.resetButton:active {
    background-color: white;
    padding: 4px;
}

.sizeButton {
    background-color: rgb(232, 232, 232);
    padding: 4px;
}

.sizeButton:hover {
    background-color: green;
    padding: 4px;
}

.sizeButton:active {
    background-color: white;
    padding: 4px;
}

.boardBox {
    padding: 6px;
}

/* cell */
.boardBox tr td {
    width: 40px;
    height: 40px;
    color: blue;
    border-radius: 5px;
    padding: 4px;
    border: 2px solid #bbb;
}

.unclicked {
    background-color: #444;
}

.clicked {
    background-color: white;
}

.flagged {
    background-color: red;
}

/* show bomb position */
.debug {
    /*border: 3px solid yellow !important;*/
}

.gameLose {
    color: red;
    font-weight: bold;
}

.gameRunning {
    color: blue;
    font-weight: normal;
}

.gameWon {
    color: green;
    font-weight: bold;
    font-size: 1.5em;
}

.listBox {
    padding: 0 10px;
    height: 390px;
    padding: 12px;
    overflow: scroll;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    justify-content: flex-start;
    align-items: left;
}

.listItem {
    display: inline-block;
    position: relative;
    width: 230px;
    padding: 7px;
    margin-right: 16px;
    /*margin-bottom: 16px;*/
    border: 1px solid #989898;
    border-radius: 7px;

    flex-shrink: 0;
}

.listItem-campaignImage {
    width: 215px;
    height: 215px;
    object-fit: cover;
}

.listItem-campaignTitle {
    font-size: 18px;
    color: #3A76C3;
    padding: 8px 8px 8px 0;
    height: 66px;
}

.listItem-removeBtn {
    top: 16px;
    left: 78%;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    padding: 4px;
}

.listItem-campaignDetails {
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.listItem-campaignDetailsUserImage {
    width: 66px;
    height: 66px;
    flex-shrink: 0;
    object-fit: cover;
}

.listItem-campaignDetailsRight {
    padding-left: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.listItem-userName {
    width: 100%;
    color: #326ab5;
}

.listItem-icon {
    padding-right: 4px;
}

.listItem-Fund {
    color: #418115;
    font-weight: bold;
    padding-right: 4px;
}

.listItem-raised {
    color: #656565;
}


/* util
 -------------------------------------------------- */

.imageRadius{
    border: 1px solid transparent;
    border-radius: 3px;
}

.rightGap {
    margin-right: 8px;
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}
